
<mat-dialog-content>
    <app-loading *ngIf="!filteredPermissions"></app-loading>
    <div class="max-w-md mx-auto lg:w-[600px]  md:w-[600px] h-[50vh]">
        <h3 class="text-3xl font-extrabold text-black mb-2">Upgrade Role Permissions</h3>
        <div *ngIf="data" class="px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <p class="font-extrabold block">Current Role
                &nbsp;&nbsp;
                <span
                    class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">
                    {{data.uid}}
                </span>
            </p>

        </div>

        <fieldset *ngIf="filteredPermissions">
            <div *ngFor="let permission of filteredPermissions">
                <div class="flex items-center mb-4">
                    <input id="checkbox-1" type="checkbox" (click)="onPermissionChecked(permission.id)" [value]="permission.id" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                    <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{permission.name}}</label>
                </div>
            </div>

        </fieldset>
    </div>
    

</mat-dialog-content>

<mat-dialog-actions>
    <button 
        type="submit"
        (click)="upgradeRolePermissions()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Upgrade Role Permissions
    </button>

    <button 
        type="button"
        (click)="closeForm()"
        class="ml-2 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 me-0">
        Close
    </button>
</mat-dialog-actions>
